# Filter mass directory ignores.
filter_mass/*.o
create_filter_mass

# Don't want to keep any plots.
*.png
output/*.pdf

# SAGE ignores.
sage/sage
sage/*.o

# Grid code ignores.
gridding/grid_sage
gridding/*.o

# PBS output/error files.
*.o*
*.e*

# Misc. 
output/__pycache__

# Test directory ignores.
tests/trees*
tests/millennium.a_list
tests/tests_output/*
