# Filter mass directory ignores.
filter_mass/*.o
create_filter_mass

# Don't want to keep any plots.
*.png
output/*.pdf
output/*.npz
output/21cm_plots/
output/ionization_plots/
output/scale_plots/

# SAGE ignores.
sage/sage
sage/*.o
sage/io/*.o
sage/self_consistent/*.o
sage/.nfs*

# Grid code ignores.
gridding/grid_sage
gridding/*.o

# PBS output/error files.
*.o*
*.e*

# Misc. 
output/__pycache__
output/*.e

# Test directory ignores.
tests/trees*
tests/millennium.a_list
tests/test_output/galaxies/*
tests/test_output/grids/*
tests/*.txt
tests/test_logs/*.log
tests/*.log

src/rsage
src/sage/*.a
src/filter_mass/*.a
